.contact-page {
  padding-top: 80px;
  height: 100vh;
}
.contact-page h1 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.contact-page p {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.pageContent {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
